abrt/
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dconf/
enchant/
evolution/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
keepassxc/
monitors.xml
monitors.xml~
pulse/
rncbc.org/
user-dirs.dirs
user-dirs.locale
vlc/
xdg-terminals.list
autostart
btop/
discord/
obs-studio/
